@use "styles/normalize";
@use "styles/variables";

html {
  box-sizing: border-box;
  font-size: 18px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  margin: 0;
  font-family: var(--font-stack);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h1 {
  color: var(--clr-h1);
}
